# Variants to sample-mode tsvs

In [107]:
import os
import datetime
import pandas as pd
import ast
print(datetime.datetime.now())

2024-10-04 17:26:15.889102

In [108]:
df = pd.read_csv('../data/sv-modes.tsv',sep='\t')
df.head()

,SV ID,# modes predicted,chr,start,stop,allele frequency,length,Total # samples,# reference samples,Mode 1,Mode 2,Mode 3
0,UW_VH_9038,1,19,54887338,54888354,0.014,1016,51,0,"['HG01125', 'HG01896', 'HG01956', 'HG02009', '...",NaN,NaN
1,SI_BD_10797,1,10,86801825,86802449,0.033,624,283,139,"['HG00154', 'HG00159', 'HG00250', 'HG00264', '...",NaN,NaN
2,UW_VH_19141,1,3,177294474,177297489,0.032,3015,133,1,"['HG00180', 'HG00185', 'HG00189', 'HG00237', '...",NaN,NaN
3,DEL_pindel_47187,2,18,45379612,45379612,0.550,195,847,66,"['HG00114', 'HG00132', 'HG00142', 'HG00150', '...","['HG00108', 'HG00111', 'HG00121', 'HG00125', '...",NaN
4,DEL_pindel_24042,2,7,136996507,136996739,0.071,232,184,48,"['HG01241', 'HG01259', 'HG01488', 'HG01890', '...","['HG01125', 'HG01392', 'HG01403', 'HG01556', '...",NaN

In [109]:
df.columns = ['id', 'n_modes', 'chr', 'start', 'stop', 'allele_freq', 'length', 'n_samples', 'n_ref_samples', 'mode_1', 'mode_2', 'mode_3']
df.head()

,id,n_modes,chr,start,stop,allele_freq,length,n_samples,n_ref_samples,mode_1,mode_2,mode_3
0,UW_VH_9038,1,19,54887338,54888354,0.014,1016,51,0,"['HG01125', 'HG01896', 'HG01956', 'HG02009', '...",NaN,NaN
1,SI_BD_10797,1,10,86801825,86802449,0.033,624,283,139,"['HG00154', 'HG00159', 'HG00250', 'HG00264', '...",NaN,NaN
2,UW_VH_19141,1,3,177294474,177297489,0.032,3015,133,1,"['HG00180', 'HG00185', 'HG00189', 'HG00237', '...",NaN,NaN
3,DEL_pindel_47187,2,18,45379612,45379612,0.550,195,847,66,"['HG00114', 'HG00132', 'HG00142', 'HG00150', '...","['HG00108', 'HG00111', 'HG00121', 'HG00125', '...",NaN
4,DEL_pindel_24042,2,7,136996507,136996739,0.071,232,184,48,"['HG01241', 'HG01259', 'HG01488', 'HG01890', '...","['HG01125', 'HG01392', 'HG01403', 'HG01556', '...",NaN

In [110]:
# mode columns were parsed as strings, not lists
df['mode_1'] = df['mode_1'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else x)
df['mode_2'] = df['mode_2'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else x)
df['mode_3'] = df['mode_3'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else x)
df.head()

,id,n_modes,chr,start,stop,allele_freq,length,n_samples,n_ref_samples,mode_1,mode_2,mode_3
0,UW_VH_9038,1,19,54887338,54888354,0.014,1016,51,0,"[HG01125, HG01896, HG01956, HG02009, HG02108, ...",NaN,NaN
1,SI_BD_10797,1,10,86801825,86802449,0.033,624,283,139,"[HG00154, HG00159, HG00250, HG00264, HG00737, ...",NaN,NaN
2,UW_VH_19141,1,3,177294474,177297489,0.032,3015,133,1,"[HG00180, HG00185, HG00189, HG00237, HG00254, ...",NaN,NaN
3,DEL_pindel_47187,2,18,45379612,45379612,0.550,195,847,66,"[HG00114, HG00132, HG00142, HG00150, HG00272, ...","[HG00108, HG00111, HG00121, HG00125, HG00138, ...",NaN
4,DEL_pindel_24042,2,7,136996507,136996739,0.071,232,184,48,"[HG01241, HG01259, HG01488, HG01890, HG02054, ...","[HG01125, HG01392, HG01403, HG01556, HG01845, ...",NaN

In [111]:
os.path.join(outdir, 'test')

'../data/variant-sample-modes/test'

In [112]:
outdir = '../data/variant-sample-modes' 
if not os.path.isdir(outdir):
    raise ValueError
for i,row in df.iterrows():
    id = row['id']
    chr = row['chr']
    start = row['start']
    stop = row['stop']
    fname = f'{id}.{chr}.{start}.{stop}.tsv'
    data = pd.DataFrame({'sample':[], 'mode':[]})
    for m in ['mode_1', 'mode_2', 'mode_3']:
        if isinstance(row[m], list):
            for s in row[m]:
                data = pd.concat([data, pd.DataFrame({'sample': [s], 'mode': [m]})])
        elif pd.isnull((row[m])):
            print(f'no {m} for {id}')
        else:
            raise ValueError
    data.to_csv(os.path.join(outdir,fname), sep='\t',index=False,header=False)

no mode_2 for UW_VH_9038
no mode_3 for UW_VH_9038
no mode_2 for SI_BD_10797
no mode_3 for SI_BD_10797
no mode_2 for UW_VH_19141
no mode_3 for UW_VH_19141
no mode_3 for DEL_pindel_47187
no mode_3 for DEL_pindel_24042

In [113]:
print(datetime.datetime.now())

2024-10-04 17:26:16.638382